In [2]:
import pandas as pd
import numpy as np

# Transposing a dataframe

In [3]:
a = np.random.rand(3,4)
a

array([[0.54160045, 0.37271382, 0.10081672, 0.18856254],
       [0.01598029, 0.33421851, 0.81219914, 0.08093711],
       [0.30345836, 0.87266156, 0.7060249 , 0.41185504]])

In [4]:
df = pd.DataFrame(a, 
                  columns = ['col1','col2','col3','col4'],
                 index = ['row1','row2','row3'])
df

          col1      col2      col3      col4
row1  0.541600  0.372714  0.100817  0.188563
row2  0.015980  0.334219  0.812199  0.080937
row3  0.303458  0.872662  0.706025  0.411855

In [5]:
df.T

          row1      row2      row3
col1  0.541600  0.015980  0.303458
col2  0.372714  0.334219  0.872662
col3  0.100817  0.812199  0.706025
col4  0.188563  0.080937  0.411855

In [6]:
df[0]

KeyError: 0

In [7]:
df.iloc[0:1]

        col1      col2      col3      col4
row1  0.5416  0.372714  0.100817  0.188563

In [8]:
df.iloc[2:,1:-1]

          col2      col3
row3  0.872662  0.706025

In [9]:
df.loc['row2':,'col1':'col4']

          col1      col2      col3      col4
row2  0.015980  0.334219  0.812199  0.080937
row3  0.303458  0.872662  0.706025  0.411855

In [10]:
df.ix[0:2,'col2':]

C:\Users\krkusuk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          col2      col3      col4
row1  0.372714  0.100817  0.188563
row2  0.334219  0.812199  0.080937

### Masking

In [13]:
df.iloc[[True,False,True]]

          col1      col2      col3      col4
row1  0.541600  0.372714  0.100817  0.188563
row3  0.303458  0.872662  0.706025  0.411855

In [44]:
df.loc[df.col1>0.5]

          col1      col2      col3      col4
row2  0.713687  0.710508  0.487793  0.551567

In [43]:
df.col1>0.5

row1    False
row2     True
row3    False
Name: col1, dtype: bool

In [51]:
df.loc[['row1','row2'],df.loc['row2']>0.5]

          col1      col2      col4
row1  0.021262  0.518180  0.087737
row2  0.713687  0.710508  0.551567

In [47]:
df.loc[df.col1>0.5,['col1','col4']]

          col1      col4
row2  0.713687  0.551567

In [54]:
df['col1'] is df.col1

True

In [53]:
df.col1

row1    0.021262
row2    0.713687
row3    0.022084
Name: col1, dtype: float64

In [29]:
### slicing works without loc, iloc
df.iloc[0:2][['col1','col2']]

         col1      col2
row1  0.54160  0.372714
row2  0.01598  0.334219

In [16]:
df.loc[:,'col1':'col2']

          col1      col2
row1  0.541600  0.372714
row2  0.015980  0.334219
row3  0.303458  0.872662

In [61]:
df['row1':'row2']

          col1      col2      col3      col4
row1  0.021262  0.518180  0.744927  0.087737
row2  0.713687  0.710508  0.487793  0.551567

In [63]:
df[1:2]

          col1      col2      col3      col4
row2  0.713687  0.710508  0.487793  0.551567