In [1]:
import numpy as np

In [2]:
names = ['Krishan','Ritu','Baba','Mami']
age = [29,23,55,50]
weight = [71.7, 45.2, 90.4, 80.1 ]

In [32]:
data = np.zeros(4, dtype={ 'names' : ('name','age','weight') ,
                           'formats':(('U',10),'i4','f8') })
data['name'] = names
data['age']=age
data['weight']=weight
data

array([('Krishan', 29, 71.7), ('Ritu', 23, 45.2), ('Baba', 55, 90.4),
       ('Mami', 50, 80.1)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [30]:
data[0]

('Krishan', 29, 71.7)

In [23]:
data['age']>30

array([False, False,  True,  True])

In [24]:
data[data['age']>30]

array([('', 55, 90.4), ('', 50, 80.1)],
      dtype=[('name', '<U'), ('age', '<i4'), ('weight', '<f8')])

In [25]:
data[['age','name']]

array([(29, ''), (23, ''), (55, ''), (50, '')],
      dtype=[('age', '<i4'), ('name', '<U')])

In [20]:
data[data['age']>30][['age','name']]

array([(55, 'Baba'), (50, 'Mami')],
      dtype=[('age', '<i4'), ('name', '<U10')])

In [33]:
rec_array = data.view(np.recarray)
rec_array

rec.array([('Krishan', 29, 71.7), ('Ritu', 23, 45.2), ('Baba', 55, 90.4),
           ('Mami', 50, 80.1)],
          dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [34]:
rec_array[0]

('Krishan', 29, 71.7)

In [35]:
rec_array['name']

array(['Krishan', 'Ritu', 'Baba', 'Mami'], dtype='<U10')

In [36]:
rec_array.name

array(['Krishan', 'Ritu', 'Baba', 'Mami'], dtype='<U10')

In [38]:
%timeit data['name']
%timeit rec_array['name']
%timeit rec_array.name

183 ns ± 20.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
3.94 µs ± 104 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
6.05 µs ± 778 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)